## Automated ML

### 全体の流れ
1. モジュールのインポート  
2. 定数の設定  
3. データセットの読み込み  
4. EDA(データを知る)  
    欠損値の確認  
    各データのタイプ確認  
5. 学習用データセットの作成  
    5-1. ohe-encoding  
    5-2. 欠損値補完  
    5-3. 次元圧縮、特徴量選択  
    (5-4. 不均衡データへの対応)  
6. Pipelineの設定  
    6-1. Pipelineの定義  
    6-2. Grid Search用のパラメータ定義  
7. 学習  
8. モデル選定  
9. 全データを使った学習  
10. スコアリング用のデータ作成  
    10-1. スコアリング用のデータの読み出し  
    10-2. one-hot-encoding処理  
    10-3. one-hot encoding後のデータ整合チェック  
    10-4. one-hot-encoding後のデータ不整合の解消  
    10-5. データ項目の並び順の担保  
    10-6. 欠損値処理  
11. 推論  
12. 提出用データ(CSVファイル）の作成

<未実装>
- カテゴリ変数の自動判別 -> 手動で設定
- 推論対象データの自動判別 -> 手動で設定
- 訓練データ/テストデータの自動判別 -> 手動で設定

### 1. モジュール類のインポート

In [5]:
# データ解析のライブラリ
import numpy as np
import pandas as pd
import os
import pickle
import time

# 評価手法
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

# 欠損値補完
from sklearn.impute import SimpleImputer

# 次元圧縮
from sklearn.feature_selection import RFE

# 学習手法
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
import xgboost as xgb
import lightgbm as lgb

 # 指標の選択
from ipywidgets import interact,interactive,fixed,interact_manual
from IPython.display import display
import ipywidgets as widgets

In [6]:
# 表示オプションの変更
pd.options.display.max_columns = 50

### 2. 定数の設定

提出ファイル作成時のIDのカラム

In [7]:
ID_column = 'index'

教師データ（推論の対象データ）の設定

In [8]:
target_value = 'left'

データセットの指定

In [9]:
# ダミーファイル（事前動作確認用）
train_file = '../data/final_hr_analysis_train.csv'
test_file = '../data/final_hr_analysis_test.csv'

In [32]:
submit_file_dir = '../submit/'
submit_file_name = 'submit_'+str(time.time()) +'.csv'

データセットに関する設定（カテゴリ変数）

In [13]:
# カテゴリ変数をリストで設定
ohe_columns = ['sales', 'salary',]

# 設定したカテゴリリストをkeyに、valueはobjectを設定する(リストから辞書を作成)
my_dtype = {k: object  for k in ohe_columns}

In [14]:
print(my_dtype)

{'sales': <class 'object'>, 'salary': <class 'object'>}

訓練データ/テストデータから除外するカラムリスト

In [19]:
# 除外リスト
score_reject_items =[ID_column]
train_reject_items = score_reject_items + [target_value]

### 3. データセットの読み込み

In [28]:
# csvファイルからの読み出し
dataset = pd.read_csv(train_file,
                     header=0,    # CSVデータの1行目が見出し(header)で有ることを指定。データは1行目が[0]
                     dtype=my_dtype)

# 1列目のID情報、推論対象は特徴量から削除
# pandas.core.frame.DataFrame
X = pd.DataFrame(dataset).drop(columns=train_reject_items, axis=1)

# pandas.core.series.Series
y = pd.Series(dataset[target_value])

# 形状の確認
# check the shape
print('----------------------------------------------------------------')
print('X shape: (%i,%i)' %X.shape)
print('----------------------------------------------------------------')
print('y shape: (%i,)' %y.shape)
print('----------------------------------------------------------------')
print(y.value_counts())
print('left（1：退職、0：非退職の正解ラベル）')
print('----------------------------------------------------------------')
print()
print('dataset:csvファイル生データ')
display(dataset.head())
print('X:訓練データセット')
X.join(y).head()

----------------------------------------------------------------
X shape: (891,9)
----------------------------------------------------------------
y shape: (891,)
----------------------------------------------------------------
0    549
1    342
Name: left, dtype: int64
left（1：退職、0：非退職の正解ラベル）
----------------------------------------------------------------

dataset:csvファイル生データ

,index,left,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary
0,1,0,3,NaN,3,22.0,1,0,NaN,7.25,7.25
1,2,1,1,NaN,1,38.0,1,0,NaN,71.2833,71.2833
2,3,1,3,NaN,3,26.0,0,0,NaN,7.925,7.925
3,4,1,1,NaN,1,35.0,1,0,NaN,53.1,53.1
4,5,0,3,NaN,3,35.0,0,0,NaN,8.05,8.05

X:訓練データセット

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary,left
0,3,NaN,3,22.0,1,0,NaN,7.25,7.25,0
1,1,NaN,1,38.0,1,0,NaN,71.2833,71.2833,1
2,3,NaN,3,26.0,0,0,NaN,7.925,7.925,1
3,1,NaN,1,35.0,1,0,NaN,53.1,53.1,1
4,3,NaN,3,35.0,0,0,NaN,8.05,8.05,0

### 4. EDA

In [31]:
# 欠損値の確認
dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [32]:
# 各データ型を表示
dataset.dtypes

PassengerId      int64
Survived         int64
Pclass          object
Name            object
Sex             object
Age            float64
SibSp            int64
Parch           object
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### 5. データセットの作成

#### 5-1. カテゴリカル変数⇒one-hotエンコード  
選択したcolumnに対してone-hot encoding処理を行う

In [33]:
def one_hot_encoding(data, ohe_columns):
    X_ohe = pd.get_dummies(data,
                       dummy_na=True,    # 欠損値もダミー化
                       columns=ohe_columns)
    print('X_ohe shape:(%i,%i)' % X_ohe.shape)
    display(X_ohe.head())
    return X_ohe
    
X_ohe = one_hot_encoding(X, ohe_columns)

X_ohe shape:(891,22)

,Age,SibSp,Fare,Pclass_1,Pclass_2,Pclass_3,Pclass_nan,Sex_female,Sex_male,Sex_nan,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,22.0,1,7.2500,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0
1,38.0,1,71.2833,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0
2,26.0,0,7.9250,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0
3,35.0,1,53.1000,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0
4,35.0,0,8.0500,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0

#### 5-2. 数値変数の欠損値対応
1. 平均値をオリジナルのデータを使って計算する。（fit）   
2. impに設定した平均値で、モデルに読み込むデータの欠損値を処理する。    
※ (注意)test用のデータでは、訓練用に計算した平均値データを使って、欠損値を処理する。(test用のデータの平均値を使わない)

In [34]:
def imputing_nan(X_ohe_for_training, X_ohe_apply_to):
    
    imp = SimpleImputer()    # default設定で平均値
    imp.fit(X_ohe_for_training)             # impにて計算するデータ
    
    X_ohe_columns =  X_ohe_for_training.columns.values
    X_ohe = pd.DataFrame(imp.transform(X_ohe_apply_to), columns=X_ohe_columns)
    display(X_ohe.head())
    return X_ohe,  X_ohe_columns, imp

X_ohe, X_ohe_columns, imp = imputing_nan(X_ohe, X_ohe)

,Age,SibSp,Fare,Pclass_1,Pclass_2,Pclass_3,Pclass_nan,Sex_female,Sex_male,Sex_nan,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,22.0,1.0,7.2500,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,38.0,1.0,71.2833,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,26.0,0.0,7.9250,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,35.0,1.0,53.1000,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,35.0,0.0,8.0500,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [35]:
X_ohe.shape

(891, 22)

#### 5-3. 次元圧縮(特徴量選択)

モデル用データの前処理：次元圧縮（特徴量選択）  
RFEによる特徴量選択を実施します。

In [37]:
def dimension_compression(X_ohe, y):
    selector = RFE(RandomForestClassifier(n_estimators=100, random_state=1),
               n_features_to_select=15, # 圧縮後の次元数
               step=.05)
    selector.fit(X_ohe,y)
    X_ohe_columns =  X_ohe.columns.values
    # 学習用のデータセットを処理
    # selector.support_には、True/Falseのリストとなっている
    X_fin = X_ohe.loc[:, X_ohe_columns[selector.support_]]
    print('X_fin shape:(%i,%i)' % X_fin.shape)
    display(X_fin.head())
    return X_fin, selector
    
X_fin, selector = dimension_compression(X_ohe, y)

X_fin shape:(891,15)

,Age,SibSp,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Parch_0,Parch_1,Parch_2,Parch_5,Embarked_C,Embarked_Q,Embarked_S
0,22.0,1.0,7.2500,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,38.0,1.0,71.2833,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,26.0,0.0,7.9250,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,35.0,1.0,53.1000,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,35.0,0.0,8.0500,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [57]:
print('-----------------------------------')
print('X_fin shape: (%i,%i)' %X_fin.shape)
print('-----------------------------------')
print(y.value_counts())
print('--------------------------------------------------')
print('y=0 means Not survived,　y=1 Survived(生存):')
print('--------------------------------------------------')
print('y shape: (%i,)' %y.shape)
print('--------------------------------------------------')

-----------------------------------
X_fin shape: (891,15)
-----------------------------------
0    549
1    342
Name: Survived, dtype: int64
--------------------------------------------------
y=0 means Not survived,　y=1 Survived(生存):
--------------------------------------------------
y shape: (891,)
--------------------------------------------------

#### 5-4. 不均衡データへの対応
(未実装)

### 6. Pipelineの設定  
#### 6-1. Pipelineの定義

In [60]:
# set pipelines for different algorithms
# ディクショナリー型のpipelinesに、モデル名をkey、値にpipelineのリストを登録
pipelines = {
    'knn':
        Pipeline([('scl',StandardScaler()),
                    ('est',KNeighborsClassifier())]),
    # ロジスティック回帰
    'logistic':
        Pipeline([('scl',StandardScaler()),
                    ('est',LogisticRegression(random_state=1))]),
    'rsvc':
        Pipeline([('scl',StandardScaler()),
                    ('est',SVC(C=1.0, kernel='rbf', class_weight='balanced', random_state=1))]),
    'lsvc':
        Pipeline([('scl',StandardScaler()),
                    ('est',LinearSVC(C=1.0, class_weight='balanced',random_state=1))]),
    'tree':
        Pipeline([('scl',StandardScaler()),
                    ('est',DecisionTreeClassifier(random_state=1))]),
    'rf':
        Pipeline([('scl',StandardScaler()),
                    ('est',RandomForestClassifier(random_state=1))]),
    'gb':
        Pipeline([('scl',StandardScaler()),
                    ('est',GradientBoostingClassifier(random_state=1))]),
    'mlp':
        Pipeline([('scl',StandardScaler()),
                    ('est',MLPClassifier(hidden_layer_sizes=(3,3), max_iter=1000, random_state=1))]),
    'xgb':
        Pipeline([('scl',StandardScaler()),
                    ('est',xgb.XGBClassifier())]),
    'lgbm':
        Pipeline([('scl',StandardScaler()),
                    ('est',lgb.LGBMClassifier())]),
}

#### 6-2. Grid Seach用のパラメータ設定

In [64]:
params = {
    'knn' : {'est__n_neighbors':[5,7,10], 'est__weights':['uniform','distance'],},
    
    'logistic': {'est__C':[1, 100],},
    
    'rsvc': {'est__C':[1, 100],},
    
    'lsvc': {'est__C':[1, 100],},
    
    'tree': {'est__max_depth': list(range(10, 20)),
              'est__criterion': ['gini', 'entropy'],},
    
    'rf': {'est__n_estimators':[320, 340],
            'est__max_depth': [8, 10,],
            'est__random_state': [0],},
    
    'gb': {'est__loss':['deviance'],
            'est__learning_rate': [0.01, 0.1],
            'est__min_samples_split': np.linspace(0.1, 0.5, 2),
            'est__min_samples_leaf': np.linspace(0.1, 0.5, 2),
            'est__max_depth':[3,5],
            'est__max_features':['log2','sqrt'],
            'est__criterion': ['friedman_mse',  'mae'],
            'est__subsample':[0.5, 1.0],
            'est__n_estimators':[10],},
    
    'mlp': {'est__solver': ['lbfgs'],
            'est__max_iter': [10000],
            'est__alpha': 10.0 ** -np.arange(1, 3),
            'est__hidden_layer_sizes':np.arange(10, 12),},
    
    'xgb': {'est__n_estimators':[100,500,],
            'est__max_depth':[6, 8,10],
            'est__learning_rate':[0.001, 0.01, 0.1, 1],
            'est__min_child_weight': [1,6],},
    
    'lgbm': {'est__max_depth':[5,10, 20, 50,],
            'est__learning_rate':[0.001, 0.01,0.1,1],
            'est__num_leaves':[10, 15, 31,],
            'est__n_estimators':[100, 500,],},
    
}

### 7. 学習、評価

In [38]:
# Holdout法(訓練データとテストデータに分ける)
X_train, X_test, y_train, y_test=train_test_split(X_fin,
                                               y,
                                               test_size=0.3,
                                               random_state=1)

Grid Searchのパラメータを設定

In [39]:
#  評価指標
evaluation_scoring = 'f1'

# スコア格納用リストの初期化（Dict型）
scores = {}

# GridSearchのパラメータ、スコア格納用リストの初期化
best_params ={}
best_scores ={}

# パイプラインの先頭にある文字列（例えば、'KNN')が pipe_name に、各パイプラインのインスタンスがpipelineに順次入る

for pipe_name, pipeline in pipelines.items():
    print(pipe_name)
    print(params[pipe_name])
    start = time.time()
    gs = GridSearchCV(estimator=pipeline,
                     param_grid = params[pipe_name],
                     scoring=evaluation_scoring,
                     cv=5,
                     return_train_score=False)
    # 学習
    gs.fit(X_train, y_train)
    
    print('time', time.time()-start)
    scores[(pipe_name,'train')] = accuracy_score(y_train, gs.predict(X_train))
    scores[(pipe_name,'test')] = accuracy_score(y_test, gs.predict(X_test))
    best_params[pipe_name] = gs.best_params_
    best_scores[pipe_name] = gs.best_score_
    
    # 各モデル格納用のディレクトリ を作成
    os.makedirs('./pipeline_model', exist_ok=True)
     # 各モデル保存(modelフォルダー)
    file_name = './pipeline_model/'+pipe_name+'.pkl'
    pickle.dump(pipeline, open(file_name, 'wb'))

print('---accuracy---')
pd.Series(scores).unstack()

NameError: name 'pipelines' is not defined

ラジオボタンで選択するモデル

In [67]:
scores

{('knn', 'train'): 0.9887640449438202,
 ('knn', 'test'): 0.75,
 ('logistic', 'train'): 0.8202247191011236,
 ('logistic', 'test'): 0.7761194029850746,
 ('rsvc', 'train'): 0.8475120385232745,
 ('rsvc', 'test'): 0.7761194029850746,
 ('lsvc', 'train'): 0.7929373996789727,
 ('lsvc', 'test'): 0.7873134328358209,
 ('tree', 'train'): 0.9293739967897271,
 ('tree', 'test'): 0.7611940298507462,
 ('rf', 'train'): 0.9181380417335474,
 ('rf', 'test'): 0.7910447761194029,
 ('gb', 'train'): 0.8009630818619583,
 ('gb', 'test'): 0.753731343283582,
 ('mlp', 'train'): 0.9165329052969502,
 ('mlp', 'test'): 0.746268656716418,
 ('xgb', 'train'): 0.8876404494382022,
 ('xgb', 'test'): 0.7723880597014925,
 ('lgbm', 'train'): 0.898876404494382,
 ('lgbm', 'test'): 0.7723880597014925}

### 8. モデルの選定

In [70]:
def get_answer(x):
    return x

In [71]:
model_selection = get_answer(widgets.RadioButtons(options=pipelines.keys()))
display(model_selection)

RadioButtons(options=('knn', 'logistic', 'rsvc', 'lsvc', 'tree', 'rf', 'gb', 'mlp', 'xgb', 'lgbm'), value='knn…

In [73]:
selected_model_name = model_selection.value
print(selected_model_name)

lgbm

In [74]:
final_param = best_params['lgbm']
final_model=lgb.LGBMClassifier(**final_param)
final_model.fit(X_fin, y)
print(final_model.score(X_fin, y))

0.9438832772166106

In [75]:
# 全データを使った学習
final_model = pipelines[selected_model_name].fit(X_fin, y)
print(final_model.score(X_fin, y))

# モデル格納用のディレクトリ を作成
os.makedirs('./selected_model', exist_ok=True)
# モデル保存(modelフォルダー)
file_name = './selected_model/selected_model_'+selected_model_name +'.pkl'
pickle.dump(final_model, open(file_name, 'wb'))

0.9438832772166106

### 10. スコアリングフェーズ  
#### 10-1. スコアリングフェーズ：スコアリング用のデータ読み出し

In [76]:
# csvファイルからの読み出し
dataset_s = pd.read_csv(test_file,
                          header=0,    # CSVデータの1行目が見出し(header)で有ることを指定。データは1行目が[0]
                          dtype=my_dtype)

# 1列目のID情報、推論対象は特徴量から削除
ID_s = dataset_s.iloc[:,[0]]    # 第０列はPassengerIDなので、IDとしてセット
X_s = dataset_s.drop(score_reject_items, axis=1)    # 1列目はID情報のため特徴量から削除

# 形状の確認
print('-----------------------------------')
print('Raw Shape: (%i, %i)' %dataset_s.shape)
print('X_s Shape: (%i, %i)' %X_s.shape)
print('-----------------------------------')
print(X_s.dtypes)
ID_s.join(X_s).head()

-----------------------------------
Raw Shape: (418, 11)
X_s Shape: (418, 7)
-----------------------------------
Pclass       object
Sex          object
Age         float64
SibSp         int64
Parch        object
Fare        float64
Embarked     object
dtype: object

   PassengerId Pclass     Sex   Age  SibSp Parch     Fare Embarked
0          892      3    male  34.5      0     0   7.8292        Q
1          893      3  female  47.0      1     0   7.0000        S
2          894      2    male  62.0      0     0   9.6875        Q
3          895      3    male  27.0      0     0   8.6625        S
4          896      3  female  22.0      1     1  12.2875        S

#### 10-2. スコアリングフェーズ：one-hot-encoding処理

In [40]:
X_ohe_s = pd.get_dummies(X_s,
                         dummy_na=True,
                         columns=ohe_columns)
print('X_ohe_s shape:(%i,%i)' % X_ohe_s.shape)
X_ohe_s.head(3)

NameError: name 'X_s' is not defined

#### 10-3. スコアリングフェーズ：one-hot encoding後のデータ整合チェック

In [78]:
cols_model= set(X_ohe.columns.values)
cols_score = set(X_ohe_s.columns.values)

diff1 = cols_model - cols_score
print('モデル用データのみに存在する項目: %s' %diff1)

diff2 = cols_score - cols_model
print('スコア用データのみに存在する項目: %s' %diff2)

モデル用データのみに存在する項目: set()
スコア用データのみに存在する項目: {'Parch_9'}

#### 10-4. スコアリングフェーズ：one-hot-encoding後のデータ不整合の解消

##### 不整合解消のための基本指針
- モデル用にはあるが、スコア用に存在しない変数は復活させる
- スコア用データにあるが、モデル用に存在しない変数は削除する

In [84]:
dataset_cols_m = pd.DataFrame(None,    # 空のデータ
                         columns=X_ohe_columns,# モデリング時のone-hot-encoding後のカラム構成
                         dtype=float)
display(dataset_cols_m)

Empty DataFrame
Columns: [Age, SibSp, Fare, Pclass_1, Pclass_2, Pclass_3, Pclass_nan, Sex_female, Sex_male, Sex_nan, Parch_0, Parch_1, Parch_2, Parch_3, Parch_4, Parch_5, Parch_6, Parch_nan, Embarked_C, Embarked_Q, Embarked_S, Embarked_nan]
Index: []

In [85]:
X_ohe_s = pd.concat([dataset_cols_m, X_ohe_s])
print(X_ohe_s.shape)
display(X_ohe_s.head(3))

(418, 23)

,Age,SibSp,Fare,Pclass_1,Pclass_2,Pclass_3,Pclass_nan,Sex_female,Sex_male,Sex_nan,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan,Parch_9
0,34.5,0.0,7.8292,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,47.0,1.0,7.0000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,62.0,0.0,9.6875,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

スコアリングデータのみに登場する変数を削除する

In [86]:
set_Xm = set(X_ohe.columns.values)
set_Xs = set(X_ohe_s.columns.values)
print(set_Xs-set_Xm)
X_ohe_s = X_ohe_s.drop(list(set_Xs-set_Xm),axis=1)

print(X_ohe_s.shape)
display(X_ohe_s.head(3))

{'Parch_9'}
(418, 22)

,Age,SibSp,Fare,Pclass_1,Pclass_2,Pclass_3,Pclass_nan,Sex_female,Sex_male,Sex_nan,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,34.5,0.0,7.8292,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,47.0,1.0,7.0000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,62.0,0.0,9.6875,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

スコアリングでは登場しなかったデータ項目をゼロで埋める

In [89]:
print(set_Xm-set_Xs)
X_ohe_s.loc[:,list(set_Xm-set_Xs)] = X_ohe_s.loc[:,list(set_Xm-set_Xs)].fillna(0,axis=1)
X_ohe_s.head(3)

set()

,Age,SibSp,Fare,Pclass_1,Pclass_2,Pclass_3,Pclass_nan,Sex_female,Sex_male,Sex_nan,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,34.5,0.0,7.8292,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,47.0,1.0,7.0000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,62.0,0.0,9.6875,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

#### 10-5. スコアリングフェーズ:データ項目の並び順の担保
モデリング時点のデータ項目の並び順を明示的に担保する  
reindex関数を使うことで並び順を制御できます。

In [41]:
X_ohe_s = X_ohe_s.reindex(X_ohe.columns.values,axis=1)
X_ohe_s.head(3)
print(X_ohe_s.shape)

NameError: name 'X_ohe_s' is not defined

#### 10-6. スコアリングフェーズ：欠損値処理
ここまで整合させてようやく、学習済みSimpleImputerインスタンスが適用可能となる

In [93]:
print('欠損個数（数値変数の欠損補完前）',X_ohe_s.isnull().sum().sum())    # rowをsum()して、columnをsum()する

# (重要)モデリングデータで作ったimpを使ってtransformする
# もしここで改めてimpしたら、改めて計算されてしまう。そのためモデリングデータで使った平均値データを使ってtransformする
X_ohe_s = pd.DataFrame(imp.transform(X_ohe_s),columns=X_ohe_columns)

print('欠損個数（数値変数の欠損補完後）',X_ohe_s.isnull().sum().sum())

欠損個数（数値変数の欠損補完前） 87
欠損個数（数値変数の欠損補完後） 0

####  10-7. スコアリングフェーズ：次元圧縮、特徴量選択
学習済みのRFEクラスのインスタンス（本ファイルではselector）を使って、選択された特徴量のインデックスを指定する。

In [94]:
len(selector.support_)

22

In [95]:
X_fin_s = X_ohe_s.loc[:, X_ohe_columns[selector.support_]]
print(X_fin_s.shape)
X_fin_s.head(3)

(418, 15)

,Age,SibSp,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Parch_0,Parch_1,Parch_2,Parch_5,Embarked_C,Embarked_Q,Embarked_S
0,34.5,0.0,7.8292,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,47.0,1.0,7.0000,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,62.0,0.0,9.6875,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [96]:
print('-----------------------------------')
print('X_fin_s shape: (%i,%i)' %X_fin_s.shape)
print('-----------------------------------')

-----------------------------------
X_fin_s shape: (418,15)
-----------------------------------

### 11. 推論

In [97]:
y_pred = final_model.predict(X_fin_s)

In [98]:
len(y_pred)

418

### 12. 提出用データ(CSVファイル)の作成

In [34]:
result_for_submit = pd.DataFrame({ID_column:dataset_s[ID_column], target_value:y_pred})

# 提出用のファイル格納用のディレクトリ を作成
os.makedirs(submit_file_dir, exist_ok=True)
result_for_submit.to_csv(submit_file_dir+submit_file_name, index=False)